.button {
    background-color: rgb(45, 85, 0);
    text-align: center;
    margin: 25px;
    border-radius: 25px;
    padding: 50px;
    font-family: Akira;
    color: #ffffff;
    font-size: 35px;
}